/* ?Движение карточек */
@keyframes spin {
  0% {
    transform: translateX(30%);
  }

  30% {
    transform: translateX(-10%) ease-out;
  }

  70% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(30%);
  }
}

/* ?Переворот карточек */
@keyframes rotateCard {
  0% {
    transform: rotateY(0deg);
    margin-right: -5vw;
  }
  50% {
    transform: rotateY(90deg);
    margin-right: -15vw;
  }
  100% {
    transform: rotateY(180deg);
    margin-right: 2vw;
  }
}
