@font-face {
  font-family: 'TT Neoris';
  src: url(../fonts/TT\ Neoris\ Educational\ Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Neoris';
  src: url(../fonts/TT\ Neoris\ Educational\ Medium.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'TT Neoris';
  src: url(../fonts/TT\ Neoris\ Educational\ DemiBold.ttf) format('truetype');
  font-style: normal;
  font-weight: 600;
}
