body {
  font-family: 'TT Neoris';
  cursor: url('../Images/dot.svg') 2 2, default;
}

/* !НАПРАВЛЯЮЩИЕ */
/* * {
  outline: 1px dashed rgba(0, 150, 255, 0.4);
}

body::before,
body::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 1px;
  background: rgba(255, 0, 0, 0.6);
  pointer-events: none;
  z-index: 9999;
}

body::before {
  left: 80px;
}
body::after {
  left: calc(100% - 80px);
} */

/* !СТАТИЧНЫЕ ТОЧКИ */
.dot {
  width: 0.9375vw;
  height: 0.9375vw;
  display: block;
  color: #000000;
}

.dots-row-1 .dot {
  mix-blend-mode: difference;
}

.dots-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

.dots-row-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 10000;
}

.dots-row-2 {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 10000;
  transform: translateY(-50%);
}

.dots-row-3 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 10000;
}

.dots-row-1 .dot {
  position: absolute;
  top: 3.125vw;
}
.dots-row-2 .dot {
  position: absolute;
  top: -0.625vw;
}
.dots-row-3 .dot {
  position: absolute;
  bottom: 3.125vw;
}

.dot-left {
  left: 2.5vw;
}
.dot-right {
  right: 2.5vw;
}

/* !ПЕРВЫЙ БЛОК */

#s-1 {
  width: 100%;
  height: 56vw;
}

.perspective-block {
  perspective: 93.75vw;
  display: flex;
  justify-content: center;
  width: 100%;
}

.perspective {
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.4s cubic-bezier(0.97, 0.01, 0.54, 1);
}

.perspective {
  margin: 3vw 80px 0;
}
#pb-2 .perspective {
  margin: 0 80px 3vw;
}

#pb-1 .perspective {
  transform: rotateX(0deg) rotateY(0deg) scale(1);
}

#pb-2 .perspective {
  transform: rotateX(0deg) rotateY(0deg) scale(1);
}

.between-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5.1vw 80px;
  box-sizing: border-box;
}

.between-txt:hover .between-txt {
  transform: rotateZ(-6deg);
}

.center-txt {
  text-align: center;
  color: #58aae4;
  width: 11.875vw;
}
.center-txt .h2 {
  display: block;
  font-size: 1.5625vw;
  font-weight: 500;
  text-transform: uppercase;
}

.between-txt .name.left {
  width: 11.171875vw;
  height: 5.703125vw;
  font-size: 3.28125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  outline: 0.234375vw solid #58aae4;
  border-radius: 24px;
  color: #58aae4;
}
.between-txt .name.right {
  width: 11.171875vw;
  height: 5.703125vw;
  font-size: 3.28125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.28125vw;
  font-weight: 600;
  outline: 0.234375vw solid #58aae4;
  border-radius: 24px;
  color: #58aae4;
}

.long-rectangle {
  width: 10.859375vw;
  color: #000000;
}

/* ?ВСТАВКА */

.short-rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.short-rectangle img {
  width: 0.78125vw;
}

/* !ВТОРОЙ БЛОК */
#s-2 {
  width: 100%;
  height: 35.625vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#s-2 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 160px);
  height: 27.8125vw;
  box-sizing: border-box;
  gap: 1.5625vw;
}

#s-2 .middle-container {
  position: relative;
  width: 500vw;
  height: 27.8125vw;
  background-color: #f9f9f9;
  border-radius: 1.5625vw;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}

#s-2 .middle-container.left {
  position: relative;
  padding: 1.25vw;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 6.25vw;
}
.middle-container.left .window {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgb(250, 250, 250) 0%,
    rgba(250, 250, 250, 0) 50%,
    rgb(250, 250, 250) 100%
  );
}

#s-2 .middle-container.right {
  padding: 1.25vw;
  justify-content: center;
}

#s-2 .middle-container.right .tab {
  bottom: 1.25vw;
  position: absolute;
}
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  width: 120%;
  height: 120%;
  object-fit: cover;
}

.zone {
  position: absolute;
}
.zone.blue {
  width: 17.96875vw;
  top: 0;
  left: 5%;
}
.zone.pink {
  width: 11.40625vw;
  top: 40%;
  left: 55%;
}

.divisions {
  display: flex;
  gap: 2.5vw;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.divisions .hexagon {
  width: 11.71875vw;
  transition: transform 0.4s;
}
.divisions .triangle {
  width: 12.8125vw;
  transition: transform 0.4s;
}
.divisions .squere {
  width: 10.15625vw;
  transition: transform 0.4s;
}

#s-2 .small-container {
  width: 80vw;
  height: 27.8125vw;
  background-color: #0f0f0f;
  border-radius: 1.5625vw;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.small-contai2nd-gen {
  font-size: 1.09375vw;
  color: #f9f9f9;
}

#second-gen {
  color: #f9f9f9;
}

.tab {
  font-size: 1.25vw;
  font-weight: 500;
  padding: 0.9375vw 1.5625vw;
  border-radius: 1.25vw;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #141414;
  box-shadow: inset 0 0 0.21875vw rgba(0, 0, 0, 0.15);
}

/* ?ВСТАВКА */
.inset.s-2-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
}
.inset.s-2-3 .tab {
  color: #cccccc;
}

/* !ТРЕТИЙ БЛОК */
#s-3 {
  width: 100%;
  height: 26.25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#s-3 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875vw;
}

.large-container {
  width: calc(100vw - 160px);
  height: 9.609375vw;
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 3.28125vw 1.875vw;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

#s-3 .tab {
  font-size: 1.09375vw;
  color: #999999;
}

.switcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.mode {
  display: flex;
  gap: 24px;
}

.mode span {
  font-size: 1.25vw;
  font-weight: 400;
  color: #cccccc;
  text-transform: uppercase;
}

.rulet {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.3125vw;
}

.rectangle {
  width: 2px;
  height: 10px;
  background-color: #cccccc;
}

.mini-rectangle {
  width: 2px;
  height: 2px;
  background-color: #cccccc;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.46875vw;
  box-sizing: border-box;
  padding: 0.625vw 0.625vw;
  border-radius: 1.25vw;
}

.plus.white {
  width: 0.625vw;
  padding: 0.546875vw 0.78125vw;
  background-color: #0f0f0f;
  border-radius: 0.625vw;
  color: #e7e7e7;
}

.minus.black {
  width: 0.625vw;
  padding: 0.859375vw 0.78125vw;
  border-radius: 0.46875vw;
  color: #000000;
}

.container-row {
  width: calc(100vw - 160px);
  display: flex;
  gap: 1.5625vw;
}

#s-3 .small-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1.875vw;
  width: 100%;
  height: 7.03125vw;
  background-color: #f9f9f9;
  border-radius: 1.25vw;
}

#s-3 .small-container span {
  font-size: 1.25vw;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.loading {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: max-content;
  grid-gap: 0.3125vw;
}

.loading.mode-all .mini-dot:nth-child(-n + 15) {
  background: #58aae4;
}

.mini-dot {
  width: 0.78125vw;
  height: 0.78125vw;
  background-color: #cccccc;
  border-radius: 9999px;
}

.slider {
  --p: 30%;
  gap: 0.15625vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  width: 11.328125vw;
  height: 1.40625vw;
}

.thumb {
  width: var(--p);
  height: 0.390625vw;
  background-color: #cccccc;
  border-radius: 999px;
  transition: width 0.25s ease-out;
}

.slider .thumb:nth-of-type(1) {
  background-color: #58aae4;
  width: calc(100% - var(--p) - 1vw);
}

.handle {
  width: 0.390625vw;
  height: 1.40625vw;
  border-radius: 999px;
  background-color: #58aae4;
}

.format {
  display: flex;
  gap: 0.3125vw;
}

.format svg {
  color: #58aae4;
}

.circle-mini {
  width: 1.015625vw;
}

.triangle-mini {
  width: 1.25vw;
}

.squere-mini {
  width: 1.015625vw;
}

/* !ЧЕТВЕРТЫЙ БЛОК */
#s-4 {
  width: 100vw;
  height: 56.25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#s-4 .dot {
  color: #cccccc;
}
#s-4 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.875vw;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48.4375vw;
  background-color: #0f0f0f;
  overflow: hidden;
}

.attic {
  display: flex;
  width: calc(100vw - 160px);
  justify-content: space-between;
  align-items: center;
}

.attic span {
  font-size: 1.25vw;
  font-weight: 500;
  color: #999999;
}

#s-4 .tab {
  background-color: rgba(255, 255, 255, 0.02);
  color: #cccccc;
  box-shadow: inset 0 0 0.21875vw rgba(255, 255, 255, 0.15);
}

.border {
  position: absolute;
  width: 24.53125vw;
  height: 30.859375vw;
  border-radius: 1.875vw;
  color: #000000;
  box-shadow: inset 0 0 0.21875vw rgba(0, 0, 0, 0.15);
}

.attic div:has(svg) {
  color: #ffffff;
}

.window {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,

    rgba(0, 0, 0, 0) 50%,

    rgba(0, 0, 0, 1) 100%
  );
}

.track {
  display: flex;
  gap: -10%;
  z-index: 90;
}

.track img {
  width: 24.53125vw;
}

.card {
  margin-right: 2vw;
  transform-style: preserve-3d;
}
.card:last-child {
  margin-right: 0;
}

#s-4 .container-mini {
  display: flex;
  align-items: center;
  justify-content: center;
}
.destructed-rectangle {
  transform: rotateZ(-90deg);
  width: 5.859375vw;
  color: #cccccc;
}

#s-4 .bottom {
  display: flex;
  width: calc(100vw - 160px);
  justify-content: space-between;
  align-items: center;
  min-height: 6vw;
}

#s-4 .bottom:has(.dot) {
  color: #ffffff;
}

.symbols {
  display: flex;
  flex-direction: column;
  font-size: 1.25vw;
  font-weight: 500;
  color: #999999;
  width: 15.78125vw;
}

.symbols.left span:first-child {
  transform: translateX(-2.5vw);
  animation: changeCordinate 1.5s steps(1, end) infinite alternate;
}

.symbols.right span:first-child {
  transform: translateX(1.875vw);
}

/* !ПЯТЫЙ БЛОК */
#s-5 {
  width: 100vw;
  height: 27.8125vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#s-5 .container {
  width: calc(100vw - 160px);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#s-5 .middle-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.875vw;
  box-sizing: border-box;
  width: 28.125vw;
  height: 27.8125vw;
  background-color: #f9f9f9;
  border-radius: 1.5625vw;
  overflow: hidden;
}

/* ?ПЕРВЫЙ КОНТЕЙНЕР */

.middle-container.point-picker .window {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgb(250, 250, 250) 25%,
    rgba(250, 250, 250, 0) 50%,
    rgb(250, 250, 250) 75%
  );
}

/* Первая строка */
#s-5 .middle-container.point-picker {
  font-weight: 400;
  text-transform: uppercase;
  justify-content: space-between;
}

.code-type {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.625vw;
}

.code-type span {
  font-size: 1.09375vw;
  text-transform: uppercase;
  color: #999999;
}

.code-type .point {
  display: flex;
  gap: 1.5625vw;
}

.point div {
  font-size: 2.34375vw;
  box-shadow: inset 0 0 0.21875vw rgba(0, 0, 0, 0.15);
  padding: 0.625vw 0.9375vw;
  border-radius: 0.625vw;
}

/* Вторая строка */
.level {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625vw;
}

.level span {
  font-size: 1.09375vw;
  text-transform: uppercase;
  color: #999999;
}

.level .point {
  gap: 1.5625vw;
  transform: translateX(1.8vw);
}

.level div {
  display: flex;
  display: flex;
}

/* Третья строка */
.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625vw;
}
.group span {
  font-size: 1.09375vw;
  text-transform: uppercase;
  color: #999999;
}

.group .point {
  display: flex;
  gap: 1.5625vw;
}

/* ?ВТОРОЙ КОНТЕЙНЕР */
.middle-container.watches {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Верхняя часть */
.middle-container.watches .name {
  display: flex;
  justify-content: space-between;
  font-size: 1.09375vw;
  font-weight: 500;
}

.middle-container.watches .name div {
  display: flex;
  justify-content: center;
  gap: 0.46875vw;
}

.middle-container.watches .name div img:first-child {
  transform: scaleX(-1);
}

/* Центр */
.time {
  width: 24.375vw;
  height: 12.5vw;

  border-radius: 1.25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Нижняя */
#s-5 .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#s-5 .bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375vw;
}

#s-5 .bottom div span:first-child {
  font-size: 1.5625vw;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.46875vw;
  border-radius: 0.46875vw;
  box-sizing: border-box;
  background-color: #58aae4;
  color: #e7e7e7;
}
#s-5 .bottom div span:last-child {
  font-size: 3.28125vw;
  font-weight: 500;
}

/* ?ТРЕТИЙ КОНТЕЙНЕР */
#s-5 .middle-container.load {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#s-5 .middle-container.load .text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.78125vw;
}

#s-5 .middle-container.load .text span {
  font-size: 1.5625vw;
  font-weight: 400;
  line-height: 1.25em;
  text-transform: uppercase;
}

.blur-layer {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: rgba(237, 237, 237, 0.056);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(12px);
}

.blur-layer.top {
  top: 0;
  height: 50%;
}

.blur-layer.bottom {
  bottom: 0;
  height: 50%;
}

/* ?ВСТАВКА */
.inset.s-5-6 {
  width: 100vw;
  height: 9.0625vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* !ШЕСТОЙ БЛОК */
#s-6 {
  width: 100vw;
  height: 9.0625vw;
  display: flex;
  justify-content: center;
}

#s-6 .container {
  width: calc(100vw - 160px);
  height: 9.0625vw;
  background-color: #161616;
  border-radius: 1.875vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#s-6 .container img {
  width: 81.25vw;
}

/* !СЕДЬМОЙ БЛОК */
#s-7 {
  width: 100vw;
  height: 27.34375vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#s-7 .container {
  display: flex;
  gap: 1.25vw;
  margin-left: 80px;
}

.round-pick {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.953125vw;
  box-sizing: border-box;
  width: 37.1875vw;
  height: 19.53125vw;
  border-radius: 1.25vw;
  background-color: #fafafa;
}

.round-pick .dots {
  display: flex;
  flex-direction: column;
  gap: 6.25vw;
}

#s-7 .container .dot {
  width: 0.78125vw;
  color: #636363;
}

.picker {
  display: flex;
  width: 15.625vw;
  height: 100%;
  padding: 1.40625vw;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: inset 0 0 0.21875vw rgba(0, 0, 0, 0.15);
}

.picker.left {
  align-items: center;
  justify-content: space-between;
}

.picker.right {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.picker.right span {
  transform: rotateZ(-90deg);
}

.pick-window {
  width: 1.71875vw;
  height: 1.71875vw;
  border-radius: 50%;
  display: flex;
  background-color: #000000;
  box-sizing: border-box;
  overflow: hidden;
}

.pick-window.month {
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5vw;
}

.pick-window.day {
  align-items: flex-start;
  justify-content: center;
  padding-top: 0.5vw;
}

.pick-window.month img {
  transform-origin: center;
}

.pick-window.day img {
  transform-origin: center;
}

.progress {
  --p: 30%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  padding: 1.25vw;
  box-sizing: border-box;
  width: 7.421875vw;
  height: 19.53125vw;
  border-radius: 1.25vw;
  background-color: #fafafa;
}
.process {
  font-size: 1.25vw;
  padding: 0.46875vw 0.78125vw 0.3125vw;
  margin: 0.46875vw 0;
  border-radius: 0.78125vw;
  background: #fff;
  box-shadow: inset 0 0 0.15625vw rgba(0, 0, 0, 0.15);
}

.bar {
  width: 0.3125vw;
  height: var(--p);
  background-color: #999999;
  border-radius: 99vw;
  transition: height 0.25s ease-out;
}

.bar.color {
  background-color: #58aae4;
  height: calc(100% - var(--p) - 3.2vw);
}

.print {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 40.234375vw;
}

.print div {
  position: absolute;
  width: 2.65625vw;
  height: 19.53125vw;
  background-color: #fafafa;
  border-radius: 0 0.78125vw 0.78125vw 0;
}
.print div:last-child {
  right: 0;
}

.print img {
  width: 23.4375vw;
  transform: translateX(-80%);
}

.printer {
  padding: 0.78125vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  writing-mode: vertical-rl;
}

.printer span {
  font-size: 0.9375vw;
  text-transform: uppercase;
  color: #636363;
}

/* !ВОСЬМОЙ БЛОК */
#s-8 {
  width: 100vw;
  height: 13.28125vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#s-8 .container {
  width: calc(100vw - 160px);
  height: 13.28125vw;
  display: flex;
  justify-content: space-between;
}

.column {
  width: 13.28125vw;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.ligature {
  position: relative;
  display: flex;

  align-items: center;
  width: 6.40625vw;
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
}
.column.left .ligature {
  justify-content: flex-start;
}
.column.right .ligature {
  justify-content: flex-end;
}

.column.left .letter-slider {
  display: flex;
  align-items: center;
  height: 100%;
}
.column.right .letter-slider {
  display: flex;
  align-items: center;
  height: 100%;
}

.letter {
  width: 100%;
  height: 100%;
}

.letter.a {
  width: 12.03125vw;
}
.letter.z {
  width: 10.15625vw;
}
.letter.m {
  width: 17.65625vw;
}

/* !ДЕВЯТЫЙ БЛОК */
#s-9 {
  width: 100vw;
  height: 10.15625vw;
  display: flex;
  align-items: flex-end;
}

#s-9 .container {
  position: relative;
  width: 100%;
  height: 6.25vw;
  background-color: #000000;
  align-items: center;
  padding: 0 80px;
  display: flex;
  align-items: center;
}

#s-9 .container span {
  color: #f9f9f9;
  font-size: 1.25vw;
  font-weight: 400;
  text-transform: uppercase;
}
#s-9 .container span:first-child {
  margin-right: auto;
}

#s-9 .container span:last-child {
  margin-left: auto;
}

#s-9 .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 2.1875vw;
}

.logo-rectangle {
  width: 3.90625vw;
  color: #ffffff;
}

#s-9 .logo svg:first-child {
  transform: scaleX(-1);
}

#s-9 .logo:hover .logo-rectangle {
  transform: rotateY(70deg) scale(1.2);
}
